<ion-view title="Biddable Detail Page" id="page20">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="biddableDetailPage-card21">
      <ion-item class="item-thumbnail-left" id="biddableDetailPage-list-item41">
        <h2>Ref#: 1123</h2>
        <p>Package A</p>
      </ion-item>
      <div class="item item-body" id="biddableDetailPage-list-item-container2">
        <div id="biddableDetailPage-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:25px;">List of bidders</p>
        </div>
      </div>
      <ion-item class="item-icon-left" id="biddableDetailPage-list-item42">
        <i class="icon No Icon"></i>Assoc 1</ion-item>
      <ion-item class="item-icon-left balanced" id="biddableDetailPage-list-item43">
        <i class="icon ion-ios-people"></i>Assoc 2
        <span class="item-note">Current Ranking</span>
      </ion-item>
      <ion-item class="item-icon-left" id="biddableDetailPage-list-item44">
        <i class="icon No Icon"></i>Assoc 3</ion-item>
    </div>
    <button id="biddableDetailPage-button10" class="button button-calm button-block">Place Bid</button>
  </ion-content>
</ion-view>