<ion-view title="Bookings Detail Page" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img ng-src="{{booking.package.public_image}}" style="display:block;width:50%;height:auto;">
    </div>
    <div id="bookingsDetailPage-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{ booking.package.name }}</p>
    </div>
    <div id="bookingsDetailPage-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{ booking.customer.name_}}</p>
    </div>
    <form id="bookingsDetailPage-form6" class="list">
      <label class="item item-select" id="bookingsDetailPage-select1">
        <span class="input-label">Select status</span>
        <select></select>
      </label>
    </form>
    <h5 id="bookingsDetailPage-heading6" style="color:#000000;">Bids</h5>
    <ion-list id="bookingsDetailPage-list8">
      <ion-item id="bookingsDetailPage-list-item33">Assoc 1</ion-item>
      <ion-item id="bookingsDetailPage-list-item34">Assoc 2</ion-item>
      <ion-item id="bookingsDetailPage-list-item35">Assoc 3</ion-item>
    </ion-list>
    <button id="bookingsDetailPage-button18" class="button button-calm button-block">Save</button>
  </ion-content>
</ion-view>
