<ion-view title="Cart" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="cart-list6">
      <ion-item class="item-thumbnail-left" id="cart-list-item23">
        <h2>Package A</h2>
        <p style="white-space:normal;">P5,000</p>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cart-list-item24">
        <h2>Package B</h2>
        <p style="white-space:normal;">P10,000</p>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </ion-list>
    <div id="cart-markdown3" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Total: P20, 000</p>
    </div>
    <button id="cart-button7" class="button button-calm button-block">Checkout</button>
  </ion-content>
</ion-view>