<ion-view title="My Requests" id="page13">
  <ion-content padding="true" class="has-header">
    <ion-list id="adminPackages-list7">
      <ion-item class="item-thumbnail-left" id="adminPackages-list-item27" ng-repeat="items in lists">
        <h2>Package A</h2>
        <p style="white-space:normal;" ng-bind="'Ref#: ' + items.reference_no"></p>
        <p style="white-space:normal;" ng-bind="'Status: ' + items.status"></p>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>  
    </ion-list>
  </ion-content>
</ion-view>
