<ion-view title="Login" id="page23" ng-controller="loginCtrlr">
    <ion-content padding="true" class="has-header">
        <form id="login-form11" class="list">
        <ion-list id="login-list10">
            <label class="item item-input" id="login-input10">
            <span class="input-label">Username</span>
            <input type="text" placeholder="" ng-model="user.userId">
            </label>
            <label class="item item-input" id="login-input11">
            <span class="input-label">Password</span>
            <input type="password" placeholder="" ng-model="user.password">
            </label>
        </ion-list>
        <div class="spacer" style="height: 40px;"></div>
        <button id="login-button15" class="button button-stable button-block" ng-click="onSignIn()">Log in</button>
        <!--<a href-inappbrowser="/signup" id="login-button16" class="button button-positive button-block button-clear">Or create an account</a>-->
        </form>
    </ion-content>
</ion-view>