<ion-view title="Package Details" id="page9">
  <ion-content padding="true" class="has-header">
    <center><h3 id="packageDetails-heading2" style="color:#000000;" ng-bind="record.name"></h3></center>
    <br/>
    <image ng-cloak ng-src="{{record.public_image}}" width="100%"></image>    
    </div>
    <h5 id="packageDetails-heading3" style="color:#000000;" ng-bind="record.price"></h5>
    <div id="packageDetails-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;" ng-bind="record.description"></p>
    </div>
      <div class="incrementer">
        <div class="input-group" width="100">
          <span class="input-group-btn">
            <button type="button" class="btn btn-info btn-number" data-type="minus" data-field="quant[2]" ng-click="decrement(record)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </span>
          <input type="number" class="form-control input-number" min="0" max="5" ng-model="record.count">
          <span class="input-group-btn">
            <button type="button" class="btn btn-info btn-number" data-type="plus" ng-click="increment(record)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </div>
  </ion-content>
</ion-view>
