<ion-view title="Packages" id="page3">
  <ion-content padding="true" class="has-header">
    <h3 id="packages-heading1" style="color:#000000;">Please select package</h3>
    <ion-list id="packages-list4">
      <ion-item class="item-thumbnail-left item-icon-right" id="packages-list-item21">
        <h2>Package A</h2>
        <p style="white-space:normal;">P5,000</p>
        <i class="icon ion-information"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="packages-list-item25">
        <h2>Package B</h2>
        <p style="white-space:normal;">P10,000</p>
        <i class="icon ion-information"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="packages-list-item26">
        <h2>Package C</h2>
        <p style="white-space:normal;">P15,000</p>
        <i class="icon ion-information"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>