<ion-view title="Packages" id="page3">
  <ion-content padding="true" class="has-header">
    <center><h4 id="packages-heading1" style="color:#000000;">Please select from packages</h4></center>
    <br/>
    <ion-list id="packages-list4" ng-repeat="record in records">
      <ion-item class="item-thumbnail-left item-icon-right" id="packages-list-item21">
      <image ng-cloak ng-src="{{record.public_image}}" width="42" height="42"></image>
      <h2 ng-bind="record.name"></h2>
      <p style="white-space:normal;" ng-bind="record.price | number| peso"></p>
      <br/>
      <p>
      <div class="incrementer">
        <div class="input-group" width="100">
          <span class="input-group-btn">
            <button type="button" class="btn btn-info btn-number" data-type="minus" data-field="quant[2]" ng-click="decrement(record)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </span>
          <input type="number" class="form-control input-number" min="0" max="5" ng-model="record.count">
          <span class="input-group-btn">
            <button type="button" class="btn btn-info btn-number" data-type="plus" ng-click="increment(record)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </div>
      <i class="icon ion-ios-information-outline" ng-click="viewDetail(record)"></i>
      </ion-item>
    </ion-list>
   </ion-content>
   <div class="footer navbar-fixed-bottom">
    <button id="placeBid-button11" class="button button-calm button-block">Checkout</button>
   </div>

</ion-view>
