<ion-view title="Package Details" id="page9">
  <ion-content padding="true" class="has-header">
    <h2 id="packageDetails-heading2" style="color:#000000;">Package A</h2>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <h5 id="packageDetails-heading3" style="color:#000000;">P5,000</h5>
    <div id="packageDetails-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Replace with description</p>
    </div>
    <button id="packageDetails-button5" class="button button-calm icon ion-ios-minus-empty"></button>
    <button id="packageDetails-button6" class="button button-calm icon ion-ios-plus-empty"></button>
  </ion-content>
</ion-view>