<ion-view title="PDP CRUD" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Wsr2WvdqTmwkU98hLRtd_photo-placeholder_9_orig.png" style="display:block;width:50%;height:auto;">
    </div>
    <form id="pDPCRUD-form4" class="list">
      <label class="item item-input" id="pDPCRUD-input1">
        <span class="input-label">Package name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="pDPCRUD-input2">
        <span class="input-label">Price</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="pDPCRUD-textarea3">
        <span class="input-label">Description</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="pDPCRUD-button-bar1" class="button-bar">
      <button id="pDPCRUD-button13" class="button button-energized button-block">Delete</button>
      <button id="pDPCRUD-button14" class="button button-calm button-block">Save</button>
    </div>
  </ion-content>
</ion-view>