<ion-view title="Place Bid" id="page17">
  <ion-content padding="true" class="has-header">
    <div id="placeBid-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Amount</p>
    </div>
    <form id="placeBid-form9" class="list">
      <label class="item item-input" id="placeBid-input9">
        <span class="input-label">Input</span>
        <input type="number" placeholder="Enter Amount">
      </label>
    </form>
    <button id="placeBid-button11" class="button button-calm button-block">Save</button>
  </ion-content>
</ion-view>