<ion-view title="Set bidding" id="page16">
  <ion-content padding="true" class="has-header">
    <h5 id="setBidding-heading4" style="color:#000000;">Set start date and time</h5>
    <form id="setBidding-form7" class="list">
      <label class="item item-input" id="setBidding-input5">
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="setBidding-input6">
        <input type="time" placeholder="">
      </label>
    </form>
    <h5 id="setBidding-heading5" style="color:#000000;">Set end date and time</h5>
    <form id="setBidding-form8" class="list">
      <label class="item item-input" id="setBidding-input7">
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="setBidding-input8">
        <input type="time" placeholder="">
      </label>
    </form>
    <button id="setBidding-button19" class="button button-calm button-block">Save</button>
  </ion-content>
</ion-view>