<ion-view title="Set bidding" id="page16">
  <ion-content padding="true" class="has-header">
    <h5 id="setBidding-heading5" style="color:#000000;">Set end date and time</h5>
    <form id="setBidding-form8" class="list">
      <label class="item item-input" id="setBidding-input7">
        <input type="date" placeholder="" ng-model="bid_due.date">
      </label>
      <label class="item item-input" id="setBidding-input8">
        <input type="time" placeholder="" ng-model="bid_due.time">
      </label>
    </form>
    <button id="setBidding-button19" class="button button-calm button-block" ng-click="onSaveBidDate()">Save</button>
  </ion-content>
</ion-view>
